<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="navbar fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top text-bg-dark " style="padding:150px;">
        <div class="col-md-4 d-flex align-items-center ">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="static/image/icons8-list-view-30.png">
        </a>
      <span class="mb-3 mb-md-0 text-white">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/sergiy-shtanko-bb556a234/"><img src="static/image/icons8-linkedin-30.png"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="static/image/icons8-instagram-30.png"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://github.com/WaveSonic"><img src="static/image/icons8-github-30.png"></a></li>
    </ul>
  </footer>
</body>
</html>